@heading-base-color:#FFF;
@text-base-color:#FFF;
@extra-large-padding:30px;
@extra-large-margin:30px;
@large-padding:15px;
@large-margin:15px;
@medium-padding:7px;
@medium-margin:7px;
@small-padding:3px;
@small-margin:3px;
@link-color:#FEF75F;
@link-color-alt:#07B0FF;
@button-color-1: #07AEFD;
@button-color-2: #0288C6;
